In [2]:
import pandas as pd

In [4]:
prop = pd.read_csv("./data_for_testing/prop_sample.csv")
train = pd.read_csv("./data_for_testing/train_sample.csv")

In [8]:
a = train[["parcelid"]].iloc[0:10]

In [192]:
col_names = ["ID","Run_type","Prop_option","train_option","Models","CV_MAE", "CV_MSE","CV_R2","Test_MAE","Test_MSE","Test_R2",
             "Status"]
log_df = pd.DataFrame(columns = col_names)
log_df.to_pickle("log_df.pkl")

In [63]:
log_df

Empty DataFrame
Columns: [ID, Prop_option, train_option, Models, CV_score, Test_score, Status]
Index: []

In [102]:
pd.read_pickle("log_df.pkl")

,ID,Run_type,Prop_option,train_option,Models,CV_MAE,CV_MSE,CV_R2,Test_MAE,Test_MSE,Test_R2,Status
0,20170924232356,test,threshold removed w knn filled,threshold removed w knn filled,[[<lightgbm.basic.Booster object at 0x00000000...,0.292919,0.116777,-6.90058,0.442559,0.206339,-18.6876,1
1,20170924234208,test,threshold removed w knn filled,threshold removed w knn filled,[[<lightgbm.basic.Booster object at 0x00000000...,0.343315,0.143485,-10.3247,0.488162,0.285181,-15.1382,1

In [148]:
light_gbm_params = {}
light_gbm_params['max_bin'] = 10
light_gbm_params['learning_rate'] = 0.0021 # shrinkage_rate
light_gbm_params['boosting_type'] = 'gbdt'
light_gbm_params['objective'] = 'regression'
light_gbm_params['metric'] = 'l1'          # or 'mae'
light_gbm_params['sub_feature'] = 0.345
light_gbm_params['bagging_fraction'] = 0.85 # sub_row
light_gbm_params['bagging_freq'] = 40
light_gbm_params['num_leaves'] = 512        # num_leaf
light_gbm_params['min_data'] = 500         # min_data_in_leaf
light_gbm_params['min_hessian'] = 0.05     # min_sum_hessian_in_leaf
light_gbm_params['verbose'] = 0
light_gbm_params['feature_fraction_seed'] = 2
light_gbm_params['bagging_seed'] = 3



bb = pd.DataFrame([light_gbm_params])
bb

,bagging_fraction,bagging_freq,bagging_seed,boosting_type,feature_fraction_seed,learning_rate,max_bin,metric,min_data,min_hessian,num_leaves,objective,sub_feature,verbose
0,0.85,40,3,gbdt,2,0.0021,10,l1,500,0.05,512,regression,0.345,0

In [193]:
lgbm_param_df = pd.DataFrame(columns=["ID"] + bb.columns.tolist())
lgbm_param_df.to_pickle("lgbm_params_df.pkl")

In [194]:
xgb_params_1 = {
    'eta': 0.037,
    'max_depth': 5,
    'subsample': 0.80,
    'objective': 'reg:linear',
    'eval_metric': 'mae',
    'lambda': 0.8,
    'alpha': 0.4,
    'base_score': 0.,
    'silent': 1
}
    
cc = pd.DataFrame([xgb_params_1])
xgb_params_1_df = pd.DataFrame(columns=["ID"] + cc.columns.tolist())
xgb_params_1_df.to_pickle("xgb_params_1_df.pkl")
xgb_params_1_df

Empty DataFrame
Columns: [ID, alpha, base_score, eta, eval_metric, lambda, max_depth, objective, silent, subsample]
Index: []

In [196]:
xgb_params_1_df.to_pickle("xgb_params_1_df.pkl")
xgb_params_1_df.to_pickle("xgb_params_2_df.pkl")

In [188]:
pd.read_pickle("log_df.pkl")

,ID,Run_type,Prop_option,train_option,Models,CV_MAE,CV_MSE,CV_R2,Test_MAE,Test_MSE,Test_R2,Status
0,20170925003846,test,threshold removed w knn filled,threshold removed w knn filled,[[<lightgbm.basic.Booster object at 0x00000000...,0.226466,0.0627979,-4.06992,0.240164,0.0729506,-3.23558,1

In [189]:
pd.read_pickle("lgbm_params_df.pkl")

,ID,bagging_fraction,bagging_freq,bagging_seed,boosting_type,feature_fraction_seed,learning_rate,max_bin,metric,min_data,min_hessian,num_leaves,objective,sub_feature,verbose
0,20170925003846,0.85,40,3,gbdt,2,0.0021,255,l1,500,0.05,512,regression,0.345,0

In [190]:
pd.read_pickle("xgb_params_1_df.pkl")

,ID,alpha,base_score,eta,eval_metric,lambda,max_depth,objective,silent,subsample
0,20170925003846,0.4,0.007345,0.037,mae,0.8,5,reg:linear,1,0.8

In [191]:
pd.read_pickle("xgb_params_2_df.pkl")

,ID,alpha,base_score,eta,eval_metric,lambda,max_depth,objective,silent,subsample
0,20170925003846,0,0.007345,0.033,mae,1.0,6,reg:linear,1,0.8