In [222]:
import pandas as pd

In [4]:
prop = pd.read_csv("./data_for_testing/prop_sample.csv")
train = pd.read_csv("./data_for_testing/train_sample.csv")

In [8]:
a = train[["parcelid"]].iloc[0:10]

In [213]:
col_names = ["ID","Run_type","Prop_option","train_option","Models","CV_MAE", "CV_MSE","CV_R2","Test_MAE","Test_MSE","Test_R2",
             "Status","Training_time","Note"]
log_df = pd.DataFrame(columns = col_names)
log_df.to_pickle("log_df.pkl")

In [203]:
log_df

Empty DataFrame
Columns: [ID, Run_type, Prop_option, train_option, Models, CV_MAE, CV_MSE, CV_R2, Test_MAE, Test_MSE, Test_R2, Status, Training_time, Note]
Index: []

In [204]:
pd.read_pickle("log_df.pkl")

Empty DataFrame
Columns: [ID, Run_type, Prop_option, train_option, Models, CV_MAE, CV_MSE, CV_R2, Test_MAE, Test_MSE, Test_R2, Status, Training_time, Note]
Index: []

In [214]:
light_gbm_params = {}
light_gbm_params['max_bin'] = 10
light_gbm_params['learning_rate'] = 0.0021 # shrinkage_rate
light_gbm_params['boosting_type'] = 'gbdt'
light_gbm_params['objective'] = 'regression'
light_gbm_params['metric'] = 'l1'          # or 'mae'
light_gbm_params['sub_feature'] = 0.345
light_gbm_params['bagging_fraction'] = 0.85 # sub_row
light_gbm_params['bagging_freq'] = 40
light_gbm_params['num_leaves'] = 512        # num_leaf
light_gbm_params['min_data'] = 500         # min_data_in_leaf
light_gbm_params['min_hessian'] = 0.05     # min_sum_hessian_in_leaf
light_gbm_params['verbose'] = 0
light_gbm_params['feature_fraction_seed'] = 2
light_gbm_params['bagging_seed'] = 3



bb = pd.DataFrame([light_gbm_params])
bb

,bagging_fraction,bagging_freq,bagging_seed,boosting_type,feature_fraction_seed,learning_rate,max_bin,metric,min_data,min_hessian,num_leaves,objective,sub_feature,verbose
0,0.85,40,3,gbdt,2,0.0021,10,l1,500,0.05,512,regression,0.345,0

In [215]:
lgbm_param_df = pd.DataFrame(columns=["ID"] + bb.columns.tolist())
lgbm_param_df.to_pickle("lgbm_params_df.pkl")

In [216]:
xgb_params_1 = {
    'eta': 0.037,
    'max_depth': 5,
    'subsample': 0.80,
    'objective': 'reg:linear',
    'eval_metric': 'mae',
    'lambda': 0.8,
    'alpha': 0.4,
    'base_score': 0.,
    'silent': 1
}
    
cc = pd.DataFrame([xgb_params_1])
xgb_params_1_df = pd.DataFrame(columns=["ID"] + cc.columns.tolist())
xgb_params_1_df.to_pickle("xgb_params_1_df.pkl")
xgb_params_1_df

Empty DataFrame
Columns: [ID, alpha, base_score, eta, eval_metric, lambda, max_depth, objective, silent, subsample]
Index: []

In [217]:
xgb_params_1_df.to_pickle("xgb_params_1_df.pkl")
xgb_params_1_df.to_pickle("xgb_params_2_df.pkl")

In [221]:
pd.read_pickle("log_df.pkl")

Empty DataFrame
Columns: [ID, Run_type, Prop_option, train_option, Models, CV_MAE, CV_MSE, CV_R2, Test_MAE, Test_MSE, Test_R2, Status, Training_time, Note]
Index: []

In [218]:
pd.read_pickle("lgbm_params_df.pkl")

Empty DataFrame
Columns: [ID, bagging_fraction, bagging_freq, bagging_seed, boosting_type, feature_fraction_seed, learning_rate, max_bin, metric, min_data, min_hessian, num_leaves, objective, sub_feature, verbose]
Index: []

In [219]:
pd.read_pickle("xgb_params_1_df.pkl")

Empty DataFrame
Columns: [ID, alpha, base_score, eta, eval_metric, lambda, max_depth, objective, silent, subsample]
Index: []

In [220]:
pd.read_pickle("xgb_params_2_df.pkl")

Empty DataFrame
Columns: [ID, alpha, base_score, eta, eval_metric, lambda, max_depth, objective, silent, subsample]
Index: []

In [208]:
a = train.as_matrix()

In [212]:
a[:,1:]

array([[0.0276, '1/1/2016'],
       [-0.1684, '1/1/2016'],
       [-0.004, '1/1/2016'],
       ...,
       [-0.0408, '1/7/2016'],
       [-0.006, '1/7/2016'],
       [-0.0151, '1/7/2016']], dtype=object)

In [319]:
fx = pd.read_pickle("delm_me_fx.pkl")
fy = pd.read_pickle("delm_me_fy.pkl")
mx = pd.read_pickle("delm_me_mx.pkl")
my = pd.read_pickle("delm_me_my.pkl")
fxt = pd.read_pickle("delm_me_fxtest.pkl")
mxt = pd.read_pickle("delm_me_mxtest.pkl")

In [285]:
(my.head()==fy.head()).all()

0    True
dtype: bool

In [278]:
f[["airconditioningtypeid","finishedfloor1squarefeet","rawcensustractandblock","taxamount","censustractandblock"]].head()

,airconditioningtypeid,finishedfloor1squarefeet,rawcensustractandblock,taxamount,censustractandblock
0,1.0,NaN,60371068.0,6735.879883,6.040000e+13
1,NaN,NaN,60590524.0,10153.019531,NaN
2,1.0,NaN,60374640.0,11484.480469,6.040000e+13
3,1.0,NaN,60372964.0,3048.739990,6.040000e+13
4,NaN,NaN,60590424.0,5488.959961,6.060000e+13

In [279]:
m[["airconditioningtypeid","finishedfloor1squarefeet","rawcensustractandblock","taxamount","censustractandblock"]].head()

,airconditioningtypeid,finishedfloor1squarefeet,rawcensustractandblock,taxamount,censustractandblock
0,1.0,NaN,60371068.0,6735.879883,6.040000e+13
1,NaN,NaN,60590524.0,10153.019531,NaN
2,1.0,NaN,60374640.0,11484.480469,6.040000e+13
3,1.0,NaN,60372964.0,3048.739990,6.040000e+13
4,NaN,NaN,60590424.0,5488.959961,6.060000e+13

In [305]:
import xgboost as xgb
import pickle

In [291]:
dtrain_f = xgb.DMatrix(fx,fy[0].values)

In [292]:
dtrain_m = xgb.DMatrix(mx,my[0].values)

In [299]:
dtrain_f2 = xgb.DMatrix(fx,fy[0].values)

In [321]:
dtest_f = xgb.DMatrix(fxt)
dtest_m = xgb.DMatrix(mxt)

In [320]:
f_model = pickle.load(open("f_model.pickle.dat", "rb"))
m_model = pickle.load(open("m_model.pickle.dat", "rb"))

In [322]:
f_pred = f_model.predict(dtest_f)
m_pred = m_model.predict(dtest_m)

In [323]:
(f_pred == m_pred).all()

False

In [324]:
f_pred[0:10]

array([ 0.01377846, -0.04097275,  0.00991168,  0.01949153,  0.01306872,
       -0.15471147,  0.00741198,  0.09506933, -0.03301979, -0.023992  ], dtype=float32)

In [325]:
m_pred[0:10]

array([ 0.01489247, -0.07962087,  0.00021284,  0.0060161 ,  0.01831799,
       -0.19465022,  0.00557072,  0.0767998 , -0.01794186,  0.00631373], dtype=float32)

In [316]:
x_f = pd.read_pickle("dem_me_f.pkl")
m_f = pd.read_pickle("dem_me_m.pkl")

In [ ]:
# for back up
x_train.to_pickle("delm_me_fx.pkl")
x_test.to_pickle("delm_me_fxtest.pkl")
pd.DataFrame(y_train).to_pickle("delm_me_fy.pkl")
pickle.dump(model, open("f_model.pickle.dat", "wb"))
sys.exit()